<app-exercise-list-editor
  [title]="'Edit Routine'"
  [workout]="routine()"
  [exerciseMode]="'edit'"
  [showAddSetButton]="true"
  [showCompleteColumn]="false"
  [leftButton]="headerLeftButton"
  [rightButton]="headerRightButton"
  [bottomPrimary]="bottomPrimaryButton"
  [emptyState]="emptyState"
  (leftAction)="cancel()"
  (rightAction)="update()"
  (bottomPrimaryAction)="addExercise()"
  (exerciseAction)="onExerciseAction($event)"
>
  <div editor-before-list class="jacaona-content">
    <div class="jacaona-field">
      <input
        class="jacaona-input-title"
        type="text"
        [(ngModel)]="title"
        placeholder="Routine title"
        aria-label="Routine title"
      />
    </div>
  </div>
</app-exercise-list-editor>

@if (showSetTypeMenu() && selectedSet(); as setInfo) {
  @if (routine(); as routine) {
    <app-set-type-menu
      [workout]="routine"
      [exerciseId]="setInfo.exerciseId"
      [setId]="setInfo.setId"
      (workoutUpdated)="onRoutineUpdated($event)"
      (closed)="closeSetTypeMenu()"
    ></app-set-type-menu>
  }
}
