<app-workout-editor
  [title]="'Add Workout'"
  [workout]="activeWorkout()"
  [exerciseMode]="'edit'"
  [showMenu]="true"
  [showAddSetButton]="true"
  [showCompleteColumn]="true"
  [menuItems]="menuItems"
  [enableReorder]="true"
  [draggedId]="draggedExerciseId"
  [dragOverId]="dragOverExerciseId"
  [leftButton]="headerLeftButton"
  [rightButton]="headerRightButton"
  [bottomPrimary]="bottomPrimaryButton"
  [bottomSecondary]="bottomSecondaryButton"
  [emptyState]="emptyState"
  (leftAction)="goBack()"
  (rightAction)="finishWorkout()"
  (exerciseAction)="onExerciseAction($event)"
  (exerciseReorder)="onExerciseReorder($event)"
  (bottomPrimaryAction)="addExercise()"
  (bottomSecondaryAction)="discardWorkout()"
></app-workout-editor>

<app-confirmation-dialog
  [isVisible]="discardGuard.isVisible()"
  [message]="discardGuard.message"
  [confirmText]="discardGuard.confirmText"
  [cancelText]="discardGuard.cancelText"
  (confirmed)="discardGuard.confirm()"
  (cancelled)="discardGuard.cancel()"
></app-confirmation-dialog>

@if (showSetTypeMenu() && selectedSet(); as setInfo) {
  <app-set-type-menu
    [workoutId]="activeWorkout()!.id"
    [exerciseId]="setInfo.exerciseId"
    [setId]="setInfo.setId"
    (closed)="closeSetTypeMenu()"
  ></app-set-type-menu>
}
