@if (workout(); as w) {
  <app-exercise-list-editor
    [title]="'Edit Workout'"
    [workout]="w"
    [exerciseMode]="'edit'"
    [showMenu]="true"
    [showAddSetButton]="true"
    [showCompleteColumn]="false"
    [menuItems]="menuItems"
    [enableReorder]="true"
    [draggedId]="draggedExerciseId"
    [dragOverId]="dragOverExerciseId"
    [leftButton]="headerLeftButton"
    [rightButton]="headerRightButton"
    [bottomPrimary]="bottomPrimaryButton"
    [emptyState]="emptyState"
    (leftAction)="cancel()"
    (rightAction)="saveWorkout()"
    (bottomPrimaryAction)="addExercise()"
    (exerciseAction)="onExerciseAction($event)"
    (exerciseReorder)="onExerciseReorder($event)"
  >
    <div editor-before-list class="jacaona-main-content">
      <app-workout-title-input
        [value]="workoutTitle()"
        (valueChange)="workoutTitle.set($event)"
      />

      <div class="jacaona-summary-section">
        <app-workout-stats [stats]="workoutStats()" />
      </div>

      <div class="jacaona-separator"></div>

      <app-workout-when [dateTime]="workoutDateTime()" />

      <div class="jacaona-separator"></div>

      <app-workout-description
        [value]="workoutDescription()"
        (valueChange)="workoutDescription.set($event)"
      />

      <div class="jacaona-separator"></div>

      <div class="jacaona-exercises-section">
        <div class="jacaona-section-title">Exercises</div>
      </div>
    </div>
  </app-exercise-list-editor>
} @else {
  <div class="jacaona-loading">
    <p>Loading workout...</p>
  </div>
}

@if (showSetTypeMenu() && selectedSet(); as setInfo) {
  <app-set-type-menu
    [workout]="workout()!"
    [exerciseId]="setInfo.exerciseId"
    [setId]="setInfo.setId"
    (workoutUpdated)="onWorkoutUpdated($event)"
    (closed)="closeSetTypeMenu()"
  ></app-set-type-menu>
}
