<app-exercise-list-editor
  [title]="'Create Routine'"
  [workout]="routineDraft()"
  [exerciseMode]="'edit'"
  [showAddSetButton]="true"
  [showCompleteColumn]="false"
  [leftButton]="headerLeftButton"
  [rightButton]="headerRightButton"
  [bottomPrimary]="bottomPrimaryButton"
  [emptyState]="emptyState"
  (leftAction)="cancel()"
  (rightAction)="save()"
  (bottomPrimaryAction)="addExercise()"
  (exerciseAction)="onExerciseAction($event)"
>
  <div editor-before-list class="jacaona-content">
    <div class="jacaona-field">
      <input
        class="jacaona-input-title"
        type="text"
        [(ngModel)]="title"
        placeholder="Routine title"
        aria-label="Routine title"
      />
    </div>
  </div>
</app-exercise-list-editor>

<app-confirmation-dialog
  [isVisible]="discardGuard.isVisible()"
  [message]="discardGuard.message"
  [confirmText]="discardGuard.confirmText"
  [cancelText]="discardGuard.cancelText"
  (confirmed)="discardGuard.confirm()"
  (cancelled)="discardGuard.cancel()"
></app-confirmation-dialog>

@if (showSetTypeMenu() && selectedSet(); as setInfo) {
  <app-set-type-menu
    [workout]="routineDraft()!"
    [exerciseId]="setInfo.exerciseId"
    [setId]="setInfo.setId"
    (workoutUpdated)="onWorkoutUpdated($event)"
    (closed)="closeSetTypeMenu()"
  ></app-set-type-menu>
}
